.row {
    display: flex;
    flex-direction: row;
    min-width: 80px;
    justify-content: space-between;
}


.hra {
    width: 900px;
    height: 600px;
    margin: 0 auto;
    position: relative;
    background-image: url(./ostatní/mapa3.svg);
    background-size: cover;
    background-position: center;
    text-align: center;
}
#start {
 size: 2em;
}
.postavy {
    max-width: 35%;
    margin-left: 20px;
}
.container {
    cursor: pointer;
}

.container input {
    display: none;
}
.postavy .container .checkmark {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}
.postavy .container .checkmark i {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background-size: cover; 
    margin-right: 0;
}
.postavy .container .checkmark p {
    margin: 0;
}
#vesnican .checkmark i {
    background-image: url(./ostatní/ikony/cow.png);
}

#vesnican:hover input ~ .checkmark i{
    background-image: url(./ostatní/ikony/coww.png);
}
  
#vesnican input:checked ~ .checkmark i {
    background-image: url(./ostatní/ikony/coww.png);
}

#barbar .checkmark i {
    background-image: url(./ostatní/ikony/viking-helmet.png);
}

#barbar:hover input ~ .checkmark i{
    background-image: url(./ostatní/ikony/viking-helmetw.png);
}
  
#barbar input:checked ~ .checkmark i {
    background-image: url(./ostatní/ikony/viking-helmetw.png);
}

#rytir .checkmark i {
    background-image: url(./ostatní/ikony/helmet.png);
}

#rytir:hover input ~ .checkmark i{
    background-image: url(./ostatní/ikony/helmetw.png);
}
  
#rytir input:checked ~ .checkmark i {
    background-image: url(./ostatní/ikony/helmetw.png);
}
#zlobr .checkmark i {
    background-image: url(./ostatní/ikony/orc.png);
}

#zlobr:hover input ~ .checkmark i{
    background-image: url(./ostatní/ikony/orcw.png);
}
  
#zlobr input:checked ~ .checkmark i {
    background-image: url(./ostatní/ikony/orcw.png);
}

.informace {
    max-width: 100%;
    min-width: 300px;
    margin: 8px 1em 0 1em;
}


.header {
    display: flex;
    flex-direction: row;
    width: 50%;
    align-items: center;
    justify-content: space-between;
    margin-left: 45%;
}

.header span {
    border: 2px black solid;
    padding: 2px;
    border-radius: 3px;
    background-color: white;
    
}
.header span:hover {
    color: white;
    background-color: black;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 15%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    color: white;
    max-width: 80%;
    margin: 0 auto;
    text-align: left;
  }
  .overlay-content ul {
      list-style: none;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }



#zivoty {
    margin-right: 2em;
    
}

#zivoty, #zivotyai {
    width: 120px;
} 
#penize {
    width: 40px;
}
#penize, #zivotyai, #zivoty {
    background-color: white;
    border: 2px black solid;
    padding: 2px;
    border-radius: 3px;

}

.pohyb  span {
    position: absolute;
    color: white;
}

#R1S1start {top: 364px; left: 164px;}
#R2S1start {top: 416px; left: 164px;}
#R3S1start {top: 463px; left: 164px;}
#R4S1start {top: 511px; left: 164px;}
#R5S1start {top: 567px; left: 164px;}

#R1S2 {top: 364px; left: 219px;}
#R2S2 {top: 416px; left: 219px;}
#R3S2 {top: 463px; left: 219px;}
#R4S2 {top: 511px; left: 219px;}
#R5S2 {top: 567px; left: 219px;}

#R1S3 {top: 364px; left: 311px;}
#R2S3 {top: 416px; left: 311px;}
#R3S3 {top: 463px; left: 311px;}
#R4S3 {top: 511px; left: 311px;}
#R5S3 {top: 567px; left: 311px;}

#R1S4 {top: 364px; left: 400px;}
#R2S4 {top: 416px; left: 400px;}
#R3S4 {top: 463px; left: 400px;}
#R4S4 {top: 511px; left: 400px;}
#R5S4 {top: 567px; left: 400px;}

#R1S5 {top: 364px; left: 493px;}
#R2S5 {top: 416px; left: 493px;}
#R3S5 {top: 463px; left: 493px;}
#R4S5 {top: 511px; left: 493px;}
#R5S5 {top: 567px; left: 493px;}

#R1S6 {top: 364px; left: 583px;}
#R2S6 {top: 416px; left: 583px;}
#R3S6 {top: 463px; left: 583px;}
#R4S6 {top: 511px; left: 583px;}
#R5S6 {top: 567px; left: 583px;}

#R1S7 {top: 364px; left: 672px;}
#R2S7 {top: 416px; left: 672px;}
#R3S7 {top: 463px; left: 672px;}
#R4S7 {top: 511px; left: 672px;}
#R5S7 {top: 567px; left: 672px;}

#R1S8startai {top: 364px; left: 731px}
#R2S8startai {top: 416px; left: 731px}
#R3S8startai {top: 463px; left: 731px}
#R4S8startai {top: 511px; left: 731px}
#R5S8startai {top: 567px; left: 731px}


@media only screen and (min-width: 560px) and (max-width: 910px) {
    .hra {
        width: 510px;
        height: 420px;
    }
    .postavy .container .checkmark p {
        display: none;
    }
}
@media only screen and (min-width: 490px) and (max-width: 560px) {
    .hra {
        width: 560px;
        height: 320px;
    }
}
@media only screen and (max-width: 490px) {
    .hra {
        width: 100vw;
        height: 320px;
    }
    .postavy .container .checkmark p {
        display: none;
    }
}